body, html {
    background-image: url("./img/PNG/makoverSalon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    position: relative; 
}

ul {
    list-style: none;
}

button {
    border: black solid 2px;
    border-radius: 15%;
}

.faceBtns button {
    height: 50px;
    width: 50px;
    display: inline-block;
}

#lightBtn {
    background-color: #FBD9C1;
}

#mediumLBtn {
    background-color: #D3A079;
}

#mediumDBtn {
    background-color: #A47256;
}

#darkBtn {
    background-color: #63421E;
}

section.characterFace {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    position: relative; 
    top: 10em; 
    transform: translateY(-50%); 
    right: 0; 
}

h1 {
    text-align: center;
}

section.characterFace > img {
    position: absolute; 
    grid-column: 5 / 7;
}

#face { 
    z-index: 1;
    position: absolute;
}

#mouth {
    z-index: 1;
    position: absolute;
}

#lashes {
    z-index: 3;
    position: absolute;
}

#eyes {
    z-index: 4; 
    position: absolute;
}

#eyebrow {
    z-index: 5;
    position: absolute;
}